NODE_ENV=development

APP_NAME=Shopora
APP_URL=http://localhost:3000

DATABASE_URL=mysql://shopora:shopora_password@mysql:3306/shopora

# MySQL Database Configurations
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=shopora
MYSQL_USER=shopora
MYSQL_PASSWORD=shopora_password
MYSQL_PORT=3306

# phpMyAdmin Configurations
PMA_HOST=mysql
PMA_PORT=3306

# NextAuth Configurations
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme_secret_key_here

# OAuth Providers
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
